<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls" style="font-weight:bold;">TinyApp</a>
    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="/urls" style="font-weight:bold;">My URLs</a>
      <a class="nav-item nav-link" href="/urls/new" style="font-weight:bold;">Create New URL</a>
    </div>
    <div class="navbar-nav">
      <% if (username) { %>
        <span class="navbar-text" style="margin-right: 1em; color: white">
          Logged in as: <%= username %> 
        </span>
        <form method="POST" action="/logout">
          <button type="submit" class="btn btn-outline-light">Logout</button>
        </form>    
        <% } else { %>
            <div class="form-group mx-sm-2">
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link" href="/login" style="font-weight:bold;">Login</a>
              <a class="nav-item nav-link" href="/register" style="font-weight:bold;">Register</a>
            </div>
          </div>  
      <% } %>
    </div>
  </div>
  </nav>
</header>